<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>

    <section ng-view></section>

    </section>

    <script type="text/javascript">
        window.user = <%- user || 'null'%>;
    </script>

    <script src="./lib/angular/angular.js"></script>
    <script src="./lib/angular-route/angular-route.js"></script>
    <script src="./lib/angular-resource/angular-resource.js"></script>

    <script src="./articles/articles.client.module.js"></script>
    <script src="./articles/config/articles.client.routes.js"></script>
    <script src="./articles/controllers/articles.client.controller.js"></script>
    <script src="./articles/services/articles.client.service.js"></script>

    <script src="./main/main.client.module.js"></script>
    <script src="./main/controllers/main.client.controller.js"></script>
    <script src="./main/config/main.client.routes.js"></script>

    <script src="./users/users.client.module.js"></script>
    <script src="./users/services/authentication.client.service.js"></script>

    <script src="./application.js"></script>
</body>
</html>
